@font-face {
  font-family: "Economica";
  src: url(./Economica-Bold.ttf) format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Economica";
  src: url(./Economica-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Economica";
  src: url(./Economica-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Economica";
  src: url(./Economica-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("./SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}
